:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
    font-size: 40px;
    font-family: Arial, "sans-serif";
}

h1 {
    font-size: 80px;
}

body {
    padding: 5%;
    background-color: light-dark(white, #121212);
    color: light-dark(black, white);
}

button {
    width: 100%;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 140px;
    flex-shrink: 0;
    margin-right: 20px;
}

.form-row input,
.form-row select,
.form-row span {
    flex-grow: 1;
    width: 1px; /* A small base width for flex-grow to work properly */
}

/* On small screens, stack the label and input */
@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-row label {
        width: auto;
        margin-bottom: 5px;
        margin-right: 0;
    }

    .form-row input,
    .form-row select,
    .form-row span {
        width: 100%;
    }
}

.output-display {
    padding: 5px;
}
