<!doctype html>
<html>
    <head>
            <title>Discord Timestamp Generator</title>
            <link rel="stylesheet" href="/app.css"></link>
    </head>
    <body>
        <h1>Discord Timestamp Generator</h1>
        <form class="generator-form">
            <div class="form-row">
                <label for="time">Time</label>
                <input className="time-input" id="time" name="time" type="datetime-local" value="{{ defaultTime }}" />
            </div>
            <div class="form-row">
                <label for="timestamp-type">Type:</label>
                <select className="timestamp-type" id="timestamp-type" name="timestamp-type" value="{{ defaultTarget }}">
                    <option value="short-time">Short Time</option>
                    <option value="long-time">Long Time</option>
                    <option value="short-date">Short Date</option>
                    <option value="long-date">Long Date</option>
                    <option value="long-date-with-short-time">Long Date with Short Time</option>
                    <option value="long-date-with-day-of-week-and-short-time">Long Date with Day of Week and Short Time</option>
                    <option value="relative" selected>Relative</option>
                </select>
            </div>
            <div class="form-row">
                <button id="submit-button" action="submit">Submit</button>
            </div>
        </form>
        <br />
        <div class="output-section">
            <div class="form-row">
                <label>Output</label>
                <span>TODO</span>
            </div>
            <div class="form-row">
                <button>Copy to Clipboard</button>
            </div>
        </div>
    </body>
</html>
